<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Novo Contato</title>
</head>
<body>
  <h1>Novo Contato</h1>
  <form method="POST">
    RA: <input name="ra"><br>
    Email Ismart: <input name="email_ismart"><br>
    Email Pessoal: <input name="email_pessoal"><br>
    Celular: <input name="celular"><br>
    Telefone Fixo: <input name="telefone_fixo"><br>
    LinkedIn: <input name="linkedin"><br>
    Facebook: <input name="facebook"><br>
    Instagram: <input name="instagram"><br>
    <h3>Contato Emergência 1</h3>
    Nome: <input name="nome_emergencia1"><br>
    Telefone: <input name="tel_emergencia1"><br>
    Parentesco: <input name="parentesco_emergencia1"><br>
    <h3>Contato Emergência 2</h3>
    Nome: <input name="nome_emergencia2"><br>
    Telefone: <input name="tel_emergencia2"><br>
    Parentesco: <input name="parentesco_emergencia2"><br>
    <button type="submit">Salvar</button>
  </form>
</body>
</html>
