<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Editar Contato</title>
</head>
<body>
  <h1>Editar Contato</h1>
  <form method="POST">
    RA: <input name="ra" value="{{ contato.ra }}"><br>
    Email Ismart: <input name="email_ismart" value="{{ contato.email_ismart }}"><br>
    Email Pessoal: <input name="email_pessoal" value="{{ contato.email_pessoal }}"><br>
    Celular: <input name="celular" value="{{ contato.celular }}"><br>
    Telefone Fixo: <input name="telefone_fixo" value="{{ contato.telefone_fixo }}"><br>
    LinkedIn: <input name="linkedin" value="{{ contato.linkedin }}"><br>
    Facebook: <input name="facebook" value="{{ contato.facebook }}"><br>
    Instagram: <input name="instagram" value="{{ contato.instagram }}"><br>
    <h3>Contato Emergência 1</h3>
    Nome: <input name="nome_emergencia1" value="{{ contato.nome_emergencia1 }}"><br>
    Telefone: <input name="tel_emergencia1" value="{{ contato.tel_emergencia1 }}"><br>
    Parentesco: <input name="parentesco_emergencia1" value="{{ contato.parentesco_emergencia1 }}"><br>
    <h3>Contato Emergência 2</h3>
    Nome: <input name="nome_emergencia2" value="{{ contato.nome_emergencia2 }}"><br>
    Telefone: <input name="tel_emergencia2" value="{{ contato.tel_emergencia2 }}"><br>
    Parentesco: <input name="parentesco_emergencia2" value="{{ contato.parentesco_emergencia2 }}"><br>
    <button type="submit">Salvar</button>
  </form>
</body>
</html>
