{% extends "layout.html" %}
{% block content %}
<h2>👤 Perfil do Aluno — RA {{ ra }}</h2>

<div class="tabs">
  <button class="tab-btn active" data-aba="contato">Contato</button>
  <button class="tab-btn" data-aba="endereco">Endereço</button>
  <button class="tab-btn" data-aba="aluno_complemento">Aluno Complemento</button>
  <button class="tab-btn" data-aba="curso">Curso</button>

  {# Só mostra essa aba se o RA estiver na ismart_matricula atual do proj 4 #}
  {% if tem_status_atual %}
  <button class="tab-btn" data-aba="status">Status Anual Alumni</button>
  {% endif %}
  
  {# Só mostra essa aba se o RA estiver na ismart_matricula atual do proj 3 nao tem projeto 4 #}
  {% if tem_status_mensal %}
  <button class="tab-btn" data-aba="status_mensal">Status Mensal Universitário</button>
  <!-- <button class="tab-btn" data-aba="alteracao_status">Alteração Status</button> -->
  {% endif %}
  <button class="tab-btn" data-aba="es_status_meta_mensal">ES Status Meta Mensal</button>
  <!-- <button class="tab-btn" data-aba="reg_oportunidade">Registro de oportunidade</button> -->
  <!-- <button class="tab-btn" data-aba="registro_evento">Registro de evento</button>
  <button class="tab-btn" data-aba="inscricao_evento">Inscrição de evento</button>
  <button class="tab-btn" data-aba="descricao_evento">Descrição do evento</button> -->
</div>


<div id="conteudo-aba" class="tab-content card"></div>

<div class="mt-16">
  <a class="botao" href="{{ url_for('alunos.home') }}">⬅️ Voltar à lista</a>
</div>

<script>
  window.RA_ATUAL = "{{ ra }}";
</script>
<script src="{{ url_for('static', filename='js/aluno.js') }}"></script>
{% endblock %}
